---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title='Full Solution Telecom SAS'
  description='Full Solution, the best option'
>
  <h1>This is the About</h1>
</MainLayout>
